{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card profile-card text-center shadow" style="margin-top: 5rem">
                <div>
                    <div class="row justify-content-center">
                    {% if profile.photo_key %}
                        <img src={{ profile_picture_url }} alt="User Picture" id="activeUserPicture" class="rounded-circle" style="padding: unset; width: 150px; height: 150px; margin-top: -75px; display: flex; align-items: center; justify-content: center;"/>
                    {% else %}
                        <div class="rounded-circle" style="width: 150px; height: 150px; background-color: black; margin-top: -75px; display: flex; align-items: center; justify-content: center; color: white; font-size: 24px;">
                            ?
                        </div>
                    {% endif %}
                    </div>
                    {% if is_user %}
                        <button type="button" class="btn btn-outline-dark btn-sm mt-1" id="upload-button" data-bs-toggle="modal" data-bs-target="#uploadModal">
                            <i class="fa-solid fa-camera"></i> Manage Profile Picture
                        </button>
                        {% include 'profile/upload_profile_picture_modal.html' %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <hr />
                    <h2 class="username">{{ profile.user.username }}</h2>
                    <div class="row justify-content-center">
                        <div class="col">
                            <h5>Name:</h5>
                        </div>
                        <div class="col">
                            <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <h5>Email:</h5>
                        </div>
                        <div class="col">
                            <p>{{ profile.user.email }}</p>
                        </div>
                    </div>

                    <div class="row justify-content-center" style="margin-top: 1rem; margin-bottom: 1rem;">
                        <div class="col d-flex align-items-center justify-content-center">
                            <h5 class="mb-0 me-2">About Me</h5>
                            {% if is_user %} <button type="icon" class="btn btn-outline-dark btn-sm" id="edit-button"><i class="fa-solid fa-pen-to-square"></i></button> {% endif %}
                        </div>
                    </div>
                    <form method="POST" id="bio-form">
                        {% csrf_token %}
                        <div class="form-group" style="margin: 1rem">
                            <textarea
                                    class="form-control"
                                    name="bio"
                                    id="user-bio"
                                    rows="5"
                                    readonly
                                    placeholder="{% if profile.bio %}Add Information About Yourself{% else %}No information added yet.{% endif %}">{% if profile.bio %}{{ profile.bio }}{% endif %}</textarea>
                        </div>

                        <div class="form-group" id="edit-controls" style="display: none; margin: 1rem;">
                            <button type="submit" class="btn btn-sm btn-success" id="save-button">Save</button>
                            <button type="button" class="btn btn-sm btn-secondary" id="cancel-button">Cancel</button>
                        </div>
                    </form>
                    {% if is_user %} <p><a class="btn btn-outline-dark" href="{% url 'password_change' %}" role="button">Password Change</a></p> {% endif %}
                    <hr />
                    {% if not is_user %}
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#reportUserModal">Report User</button>
                    {% include 'profile/report_user_modal.html' %}
                    {% endif %}
                    <div class="social-icons">
                        <i class="fa-brands fa-instagram fa-2x" style="margin: 1rem"></i>
                        <i class="fa-brands fa-facebook fa-2x" style="margin: 1rem"></i>
                        <i class="fa-brands fa-twitter fa-2x" style="margin: 1rem"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if is_user %}
    <script>
        const editButton = document.getElementById('edit-button');
        const textarea = document.getElementById('user-bio');
        const editControls = document.getElementById('edit-controls');
        let originalValue = textarea.value;

        editButton.addEventListener('click', () => {
            textarea.removeAttribute('readonly');
            editControls.style.display = 'block';
        });

        document.getElementById('cancel-button').addEventListener('click', () => {
            textarea.setAttribute('readonly', true);
            editControls.style.display = 'none';
            textarea.value = originalValue;
        });
    </script>
{%endif%}

{% endblock %}
