{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card profile-card text-center shadow" style="margin-top: 5rem">
                <div>
                    <div class="row justify-content-center">
                        {% if profile.photo_key %}
                        <img src={{ profile_picture_url }} alt="User Picture" id="activeUserPicture" class="rounded-circle" style="padding: unset; width: 150px; height: 150px; margin-top: -75px; display: flex; align-items: center; justify-content: center;"/>
                        {% else %}
                        <div class="rounded-circle" style="width: 150px; height: 150px; background-color: black; margin-top: -75px; display: flex; align-items: center; justify-content: center; color: white; font-size: 24px;">
                            ?
                        </div>
                        {% endif %}
                    </div>
                    {% if is_user %}
                    <button type="button" class="btn btn-outline-dark btn-sm mt-1" id="upload-button" data-bs-toggle="modal" data-bs-target="#uploadModal">
                        <i class="fa-solid fa-camera"></i> Manage Profile Picture
                    </button>
                    {% include 'profile/upload_profile_picture_modal.html' %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <hr />
                    <form method="POST" id="bio-form">
                        {% csrf_token %}
                        <div class="row justify-content-center" style="margin-top: 1rem; margin-bottom: 1rem;">
                            <div class="col d-flex align-items-center justify-content-center">
                                <h2 class="mb-0 me-2">{{ profile.user.username }}</h2>
                                {% if is_user %}
                                <button type="button" class="btn btn-outline-dark btn-sm" id="edit-button">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                {% endif %}
                            </div>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <div class="row align-items-center mb-2">
                                        <div class="col-3 p-0">
                                            <h5>Name:</h5>
                                        </div>
                                        <div class="col-8 p-0">
                                            <span id="display-name">{{ profile.user.first_name }} {{ profile.user.last_name }}</span>

                                            {% if is_user %}
                                            <div id="edit-name-inputs" style="display: none;">
                                                <input
                                                        type="text"
                                                        class="form-control form-control-sm mb-1"
                                                        name="first_name"
                                                        id="first-name-input"
                                                        value="{{ profile.user.first_name }}"
                                                        placeholder="First Name"
                                                        readonly
                                                        required
                                                />
                                                <input
                                                        type="text"
                                                        class="form-control form-control-sm"
                                                        name="last_name"
                                                        id="last-name-input"
                                                        value="{{ profile.user.last_name }}"
                                                        placeholder="Last Name"
                                                        readonly
                                                        required
                                                />
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 p-0">
                                            <h5>Email:</h5>
                                        </div>
                                        <div class="col-8 p-0">
                                            <span>{{ profile.user.email }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h5 class="mb-2 mt-2">About Me</h5>
                        <div class="form-group" style="margin: 1rem">
                            <textarea
                                    class="form-control"
                                    name="bio"
                                    id="user-bio"
                                    rows="5"
                                    maxlength="200"
                                    readonly
                                    placeholder="{% if profile.bio %}Add Information About Yourself{% else %}No information added yet.{% endif %}">{% if profile.bio %}{{ profile.bio }}{% endif %}</textarea>
                        </div>

                        {% if is_user %}
                        <div class="form-group" id="edit-controls" style="display: none; margin: 1rem;">
                            <button type="submit" class="btn btn-sm btn-success" id="save-button">Save</button>
                            <button type="button" class="btn btn-sm btn-secondary" id="cancel-button">Cancel</button>
                        </div>
                        {% endif %}
                    </form>
                    {% if is_user %}
                        <p><a class="btn btn-outline-dark" href="{% url 'password_change' %}" role="button"><i class="fa-solid fa-key"></i> Password Change</a></p>
                        <button type="button" class="btn btn-outline-dark mt-1" id="add-family-button" data-bs-toggle="modal" data-bs-target="#familyMembersModal">
                            <i class="fa-solid fa-people-group"></i> Manage Family Members
                        </button>
                        {% include 'profile/add_family_members_modal.html' %}
                    {% endif %}
                    <hr />
                    {% if not is_user %}
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#reportUserModal">Report User</button>
                    {% include 'profile/report_user_modal.html' %}
                    {% endif %}
                    <div class="social-icons" style="text-decoration: unset">
                        {% if profile.instagram_handle %}
                            <a href="https://instagram.com/{{ profile.instagram_handle }}" target="_blank">
                                <i class="fa-brands fa-instagram fa-2x" style="margin: 1rem; color: #000"></i>
                            </a>
                        {% else %}
                            <i class="fa-brands fa-instagram fa-2x" style="margin: 1rem; color: #ccc"></i>
                        {% endif %}

                        {% if profile.facebook_handle %}
                            <a href="https://facebook.com/{{ profile.facebook_handle }}" target="_blank">
                                <i class="fa-brands fa-facebook fa-2x" style="margin: 1rem; color: #000"></i>
                            </a>
                        {% else %}
                            <i class="fa-brands fa-facebook fa-2x" style="margin: 1rem; color: #ccc"></i>
                        {% endif %}

                        {% if profile.twitter_handle %}
                            <a href="https://twitter.com/{{ profile.twitter_handle }}" target="_blank">
                                <i class="fa-brands fa-twitter fa-2x" style="margin: 1rem; color: #000"></i>
                            </a>
                        {% else %}
                            <i class="fa-brands fa-twitter fa-2x" style="margin: 1rem; color: #ccc"></i>
                        {% endif %}
                    </div>

                    {% if is_user %}
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#socialMediaModal">
                        Manage Social Media Handles
                    </button>
                    {% include 'profile/add_social_media_modal.html' %}
                    <hr />
                    <form class="form-inline" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" type="submit">Log Out</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if is_user %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const editButton = document.getElementById('edit-button');
        const textarea = document.getElementById('user-bio');
        const editControls = document.getElementById('edit-controls');
        const displayName = document.getElementById('display-name');
        const editNameInputs = document.getElementById('edit-name-inputs');
        const firstNameInput = document.getElementById('first-name-input');
        const lastNameInput = document.getElementById('last-name-input');
        const cancelButton = document.getElementById('cancel-button');

        let originalBio = textarea.value;
        let originalFirstName = firstNameInput.value;
        let originalLastName = lastNameInput.value;

        editButton.addEventListener('click', (e) => {
            e.preventDefault();

            textarea.removeAttribute('readonly');

            firstNameInput.removeAttribute('readonly');
            lastNameInput.removeAttribute('readonly');

            displayName.style.display = 'none';
            editNameInputs.style.display = 'block';

            editControls.style.display = 'block';
        });

        cancelButton.addEventListener('click', () => {
            textarea.value = originalBio;
            firstNameInput.value = originalFirstName;
            lastNameInput.value = originalLastName;

            textarea.setAttribute('readonly', true);
            firstNameInput.setAttribute('readonly', true);
            lastNameInput.setAttribute('readonly', true);

            displayName.style.display = 'block';
            editNameInputs.style.display = 'none';
            editControls.style.display = 'none';
        });
    });
</script>
{%endif%}
<style>
    a {
        text-decoration: unset;
    }
    .form-control-sm {
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
    }
    .messages .alert {
        margin-bottom: 1rem;
    }
</style>
{% endblock %}