{% extends "base.html" %}
{% load static %}

{% block title %}User Documents{% endblock %}

{% block content %}
<div style="text-align: center">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <h3>Manage Uploaded Documents</h3>
        <button type="button" class="btn btn-outline-dark btn-sm mt-1" id="upload-document-button" data-bs-toggle="modal" data-bs-target="#uploadDocumentModal">
            <i class="fa-solid fa-file-import"></i> Upload a File
        </button>
    </div>
    {% include 'documents/upload_document_modal.html' %}
    <hr />
</div>
<div>
    {% if documents %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Uploaded At</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
        </tr>
        </thead>
        <tbody>
        {% for item in documents %}
        <tr>
            <th scope="row">{{ item.filename }}</th>
            <td>{{ item.description }}</td>
            <td>{{ item.created_at|date:"Y-m-d H:i:s" }}</td>
            <td>
                {% if item.status.id == 1 %}
                <span class="badge rounded-pill text-bg-primary">Pending</span>
                {% endif %}
                {% if item.status.id == 2 %}
                <span class="badge rounded-pill text-bg-warning">Accepted</span>
                {% endif %}
                {% if item.status.id == 3 %}
                <span class="badge rounded-pill text-bg-danger">Rejected</span>
                {% endif %}
            </td>
            <td><i class="fa-solid fa-eye"></i></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No documents found.</p>
    {% endif %}


</div>
{% endblock %}