asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
Django==4.2.16
django-bootstrap-v5==1.0.11
django-bootstrap5==24.3
fontawesomefree==6.6.0
h3==4.1.2
idna==3.10
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
