{% extends "base.html" %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="alert alert-info">
                    We've emailed you instructions for setting your password. If an account exists with the email address you entered, you should receive the email shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                </div>

                <a class="btn btn-secondary btn-md" href="{% url 'login' %}">Back To Login</a>

            </div>
        </div>
    </div>
{% endblock content %}