option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "routepals.settings"
    RDS_DB_NAME: "routepals_db"
    RDS_USERNAME: "geo"
    RDS_PASSWORD: "12345678"
    RDS_HOSTNAME: "routepals.cxqqm4ygen29.us-east-1.rds.amazonaws.com"
    RDS_PORT: 5432
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
