option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "routepals.settings"
    RDS_DB_NAME: ${RDS_DB_NAME}
    RDS_USERNAME: ${RDS_USERNAME}
    RDS_PASSWORD: ${RDS_PASSWORD}
    RDS_HOSTNAME: ${RDS_HOSTNAME}
    RDS_PORT: ${RDS_PORT}
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
