<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col"># of Reports</th>
            <th scope="col">View Reports</th>
            <th scope="col">Deactivate Account</th>
        </tr>
        </thead>
        <tbody>
        {% if reports.users_with_only_acknowledged_reports %}
        {% for user in reports.users_with_only_acknowledged_reports %}
        <tr>
            <th scope="row">{{ user.first_name }} {{ user.last_name }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.total_report_count }}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">View</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-sm">Deactivate</button>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="6" class="text-center">No reported users found.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
