<div>
    {% if users %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Is Authenticated?</th>
                <th scope="col">Status</th>
                <th scope="col">Date Joined</th>
                <th scope="col">Profile</th>
            </tr>
            </thead>
            <tbody>
            {% for item in users %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.first_name }} {{ item.last_name }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        {% if item.is_staff %}
                            <span class="badge rounded-pill text-bg-primary">Admin</span>
                        {% else %}
                            <span class="badge rounded-pill text-bg-secondary">User</span>
                        {% endif %}
                    </td>
                    <td>Pending...</td>
                    <td>
                        {% if item.is_active %}
                        <span class="badge rounded-pill text-bg-success">Active</span>
                        {% else %}
                        <span class="badge rounded-pill text-bg-danger">Deactivated</span>
                        {% endif %}
                    </td>
                    <td>{{ item.date_joined|date:"Y-m-d H:i:s" }}</td>
                    <td><a href="{% url 'user_profile' item.id %}"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>No users found.</p>
    {% endif %}


</div>