{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container mt-3">
    <h1>Create a new chat room</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_name">Name</label>
          <input type="text" class="form-control" name="name" id="id_name" placeholder="Enter a name for the chat room">
        </div>
        <div class="form-group">
          <label for="id_description">Description</label>
          <textarea class="form-control" name="description" id="id_description" rows="3" placeholder="Enter a description for the chat room"></textarea>
        </div>
        <div class="form-group">
            <label for="id_users">Users</label>
            <select multiple class="form-control" name="users" id="id_users">
                {% for user in form.users %}
                {{ user }}
                {% endfor %}
            </select>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>   

{% endblock %}