{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- templates/chat/create_chat_room.html -->
<div class="container mt-3">
    <h1>Create a new chat room</h1>
    <form method="post" style="display: flex; flex-direction: column; align-items: flex-start;">
        {% csrf_token %}
        <div class="form-group" style="margin-bottom: 1rem;">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="form-group" style="margin-bottom: 1rem;">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="form-group" style="margin-bottom: 1rem;">
            {{ form.users.label_tag }}
            {{ form.users }}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

{% endblock %}