
{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <title>Chat Rooms</title>
</head>
<body>
    <div class="mb-2 d-flex w-100 justify-content-between">
        <h1>Chat Rooms</h1>
        <a class="btn btn-primary btn-lg" href="{% url 'create_chat_room' %}" role="button">Create a new chat room</a>
    </div>
    <div class="list-group mt-3">
        {% for chat_room in chat_rooms %}
            {% if request.user in chat_room.users.all %}
                <a href="{% url 'chat_room' chat_room.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <h5 class="mb-1">{{ chat_room.name }}</h5>
                    <small>{{ chat_room.description }}</small>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>

{% endblock %}