
{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <title>Chat Rooms</title>
</head>
<body>
    <h1>Chat Rooms</h1>
    <ul>
        {% for chat_room in chat_rooms %}
            {% if request.user in chat_room.users.all %}
                <li><a href="{% url 'chat_room' chat_room.pk %}">{{ chat_room.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <p><a href="{% url 'create_chat_room' %}">Create a new chat room</a></p>
</body>
</html>

{% endblock %}