<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>RoutePals - {% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

<!--  Profile Page CSS File-->
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">

</head>
<body>
  <div class="container-fluid">
    
    <nav class="navbar navbar-expand-lg navbar-light p-3 mb-2 bg-dark bg-gradient text-white">
      <a class="navbar-brand text-light" href="/">RoutePals</a>
      {% if user.is_authenticated %}
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link link-light" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/profile">Profile</a>
          </li>
          <!-- Add more nav items here as needed -->
        </ul>
      </div>
      <span class="navbar-text">
        <form class="form-inline" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button class="btn btn-outline-light" type="submit">Log Out</button>
        </form>
      </span>
      {% endif %}

    </nav>
    <div class="container mt-3">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% bootstrap_javascript %}
</body>
</html>
