{% extends "base.html" %}

{% block title%}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Hi {{ user.username }}! Welcome to Route Pals.</p>
<p><a class="btn btn-primary btn-lg" href="{% url 'password_change' %}" role="button">Password Change</a></p>
{% else %}
<p>Welcome to Route Pals.</p>
<p><a class="btn btn-secondary btn-lg" href="/accounts/signup" role="button">Sign Up</a></p>
<a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
{% endif %}
{% endblock %}