{% extends "base.html" %}
{% block title %}Reschedule Trip{% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header">
            <h4>Reschedule Trip</h4>
        </div>

        <div class="card-body">
            <form id="tripForm" action="{% url 'reschedule_trip' %}" method="post">
                {% csrf_token %}
                
                <div class="mb-3">
                    Departure Date And Time
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="datetime-local" class="form-control" id="planned_departure" name="planned_departure" required>
                            <button class="btn btn-outline-secondary" type="button" id="setNowBtn">Now</button>
                        </div>
                        <div id="dateError" class="alert alert-danger mt-2" style="display: none;"></div>
                    </div>
                </div>

                <div class="d-flex gap-2">
                    <button type="submit" id="submitTrip" class="btn btn-primary">Update Departure Time</button>
                    <a href="{% url 'current_trip' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    
    document.addEventListener('DOMContentLoaded', function() {
        const dateInput = document.getElementById('planned_departure');
        const setNowBtn = document.getElementById('setNowBtn');

        function updateMinMaxDates() {
            const now = new Date();
            const maxDate = new Date(now);
            maxDate.setFullYear(now.getFullYear() + 1);
            
            // Round up to nearest minute
            now.setSeconds(0, 0);
            now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
            dateInput.min = now.toISOString().slice(0, 16);
            dateInput.max = maxDate.toISOString().slice(0, 16);
            return now;
        }
        
        setNowBtn.addEventListener('click', function() {
            const now = updateMinMaxDates();
            dateInput.value = now.toISOString().slice(0, 16);
        });
        
    });
</script>
{% endblock %}